@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    cursor: none !important;
  }
  

  ::selection {
    background-color: #1F87DD;
    color: white;
  }
  
  ::-moz-selection {
    background-color: #1F87DD;
    color: white;
  }
  
  .use-default-cursor {
    cursor: auto !important;
  }
  
  
  a, button, [role="button"], input[type="submit"], input[type="button"] {
    transition: transform 0.2s ease-in-out;
  }
  
  a:hover, button:hover, [role="button"]:hover, input[type="submit"]:hover, input[type="button"]:hover {
    transform: scale(1.05);
  }
  
  a:active, button:active, [role="button"]:active, input[type="submit"]:active, input[type="button"]:active {
    transform: scale(0.95);
  }